:root {
  --previewPaddingInline: 0.4em;
  --previewPaddingBlock: 0.8em;
  --previewButtonRadius: 0.3em;
}

h1 {
  color: oklch(40% 0 0);
}

code {
  font: inherit;
}

fieldset {
  margin: 1em;
  padding: 1.5em 2em;
  border-radius: 0.5em;
  border: 1px solid oklch(75% 0 0);
}

legend {
  padding: 0 0.4em;
  font-size: 1.4em;
  color: oklch(30% 0 0);
}

.inputGrid {
  width: max-content;
  display: grid;
  grid-template-columns: auto auto 5em;
  align-items: center;
  gap: 1em;
}

.sliderTrack {
  height: 2em;
  width: max-content;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1px;
}

.sliderMarkerCage {
  width: 6px;
  aspect-ratio: 1;
  color: oklch(65% 0 0);

  transform: translateX(-50%);
}

.previewSquare {
  width: 6em;
  aspect-ratio: 1;
  background: var(--currentColor);
}

.previewWhiteText {
  padding: var(--previewPaddingInline) var(--previewPaddingBlock);
  background: var(--currentColor);
  color: white;
  border-radius: var(--previewButtonRadius);
}

.previewBlackText {
  padding: var(--previewPaddingInline) var(--previewPaddingBlock);
  background: var(--currentColor);
  color: black;
  border-radius: var(--previewButtonRadius);
}

.previewBorder {
  padding: calc(var(--previewPaddingInline) - 1px) calc(var(--previewPaddingBlock) - 1px);
  border: 1px solid var(--currentColor);
  color: var(--currentColor);
  border-radius: var(--previewButtonRadius);
}

.previewLink {
  padding: calc(var(--previewPaddingInline) - 1px) calc(var(--previewPaddingBlock) - 1px);
  color: var(--currentColor);
  text-decoration: underline var(--currentColor);
}

.cssColorText {
  font-size: 1rem;
  font-weight: bold;
  color: oklch(45% 0 0);
}
